@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');




.App {
  /* font-family: 'Poppins', sans-serif!important; */
  font-family: 'Varela Round', sans-serif!important;
}
.logo{
  border-radius: 50%;
}
.logo-text{
  color: #C5F500!important;
}

.Toast{

  border: none!important;
margin: 5px 0;
}
.Entries{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
.debit{
  border: 1px solid green!important;
  background-color: green!important;
  color: rgb(255, 255, 255)!important;
  

}
.debit-text{
  color:  rgb(14, 196, 14)!important;
}
.credit-text{
  color:  rgb(233, 40, 40)!important;
}
.credit{
  border: 1px solid rgb(233, 40, 40)!important;
  background-color: rgb(233, 40, 40)!important;
  color: rgb(255, 255, 255)!important;
  

}
.record-submit{
  width: 50%;
  margin: 0 20%;
}
.record-details{
  display: flex; 
	justify-content:space-between;
  align-items: center;
}
.recorddivider{
  width: 100%;
  border-top: 3px solid rgb(226, 226, 226)!important;
}
.slider{
  height: 85vh!important;
}
.link-anchors{
  color: rgb(227, 227, 227)!important;
  text-decoration: none!important;
  /* background: rgb(227, 227, 227)!important; */
  font-weight: bolder;
  border-bottom: 2px solid transparent;
  transition: .5s;
}

.report-links{
  color: #323539!important;
  text-decoration: none!important;
  /* background: rgb(227, 227, 227)!important; */
  font-weight: bolder;
  border-bottom: 2px solid transparent;
  transition: .5s;

}
.link-anchors:hover{
  text-decoration: none!important;
  /* background: rgb(227, 227, 227)!important; */
  font-weight: bolder;
  border-bottom: 2px solid rgb(227, 227, 227);
  transition: .25s;
}
.ledger-title{
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  color: #282828;
  font-weight: bold;
  background: rgb(227, 227, 227)!important;
}

.thead{
  border-radius: 20px!important;
}


table{
  padding: 0.5rem 0.5rem;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}


.balanace{
  font-weight: bolder;
  font-size: 25px!important;
  color: #1773ec!important;
}

.balance-total-debit{
  font-weight: bolder;
  font-size: 25px!important;
  color:  rgb(14, 196, 14)!important;
}

.balance-total-credit{
  font-weight: bolder;
  font-size: 25px!important;
  color:  rgb(233, 40, 40)!important;
}

.toast-header .btn-close {
  display: none;
}


.toast-date{
  margin-left: 80% !important; ;
}
/* =============================loader */


@keyframes ldio-pwz4gnjftl {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-pwz4gnjftl div {
  position: absolute;
  width: 120px;
  height: 120px;
  border: 20px solid #323539;
  border-top-color: transparent;
  border-radius: 50%;
} 
.ldio-pwz4gnjftl div {
  animation: ldio-pwz4gnjftl 1s linear infinite;
  top: 100px;
  left: 100px;
  background: transparent;
}
.loadingio-spinner-rolling-fbp9giuk8sa {
display: flex;
justify-content: center;
align-items: center;
  width: 200px;
  margin: 0 auto;
  height: 200px;
  /* display: inline-block; */
  overflow: hidden;
  background: transparent;
}
.ldio-pwz4gnjftl {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-pwz4gnjftl div { box-sizing: content-box; }
/* generated by https://loading.io/ */



.account-card{
  background: pink!important;
  margin-top: 7rem!important;
}



.capitalize {
  text-transform: capitalize;
}

.forms{
  background:#212529;
  padding:1rem 2rem;
  margin:1rem 0;
  border-radius:10px
}












