@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');




.App {
  /* font-family: 'Poppins', sans-serif!important; */
  font-family: 'Varela Round', sans-serif!important;
}

.Toast{

  border: none!important;
margin: 5px 0;
}
.Entries{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

}
.debit{
  border: 1px solid green!important;
  background-color: green!important;
  color: rgb(255, 255, 255)!important;
  

}

.credit{
  border: 1px solid rgb(121, 18, 13)!important;
  background-color: rgb(121, 18, 13)!important;
  color: rgb(255, 255, 255)!important;
  

}
.record-submit{
  width: 50%;
  margin: 0 20%;
}
.record-details{
  display: flex; 
	justify-content:space-between;
  align-items: center;
}
.recorddivider{
  width: 100%;
  border-top: 3px solid rgb(226, 226, 226)!important;
}














